
.container__news {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
}

.container__news h1{
    text-align: center;
    margin: 0;
    color: var(--main-color);
}


.container__news__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container__news__list__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: min-content;
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 0px 5px 1px #00000017;
}

.container__news__list__item__audio{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
}

.container__news__list__item img {
    width: 100%;
}

.container__news__list__item__body {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.container__news__list__item__body h4 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.container__news__list__item__body p {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 15px;
}

.container__news__list__item__body__button {
    padding: 10px 15px;
    margin-left: auto;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
}

.container__news__list__item__body__button:hover {
    transition: background-color .2s;
    background-color: var(--main-color-light);
    box-shadow: 0px 0px 5px 1px #00000017;
}

.container__side {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    width: 100%;
    padding: 15px;
    border-left: 1px solid #ccc;
}

.container__side h1{
    margin: 0;
    margin-bottom: 15px;
    color: var(--main-color);
}

.container__side__map {
    position: relative;
    border: 1px solid #ccc;
    height: fit-content;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    z-index: 0;
}

.container__side__map h4 {
    color: #686868;
    margin-bottom: 15px;
}

.container__side__map img {
    width: 100%;
}

.container__side__map__top {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0%;
    transition: .3s;
}

.container__side__map__top h4{
    font-size: 22px;
    color: #fff;
}

.container__side__map__top:hover{
    opacity: 100%;
    backdrop-filter: blur(5px);
    background-color: #000000a1;
    transition: .3s;
    
}

/* Responsividade */

@media (max-width: 760px) {
    .container{
        flex-direction: column;
    }
    .container__side{
        border: none;
        border-top: 1px solid #ccc;
    }
}